.section-about {

    & .about {
        width: 60%;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            width: 90%;
        }

        &__img {

            @include respond(phone) {
                width: 60%;
            }
        }
    }
}