.latest {

    display: flex;
    justify-content: center;

    &__post {

        &--img {
            height: 20rem;
            margin: auto;
            margin-bottom: 2rem;
            text-align: center;
        }

        &--caption {
            color: $color-white;
            display: inline-block;
            font-weight: 300;
            font-style: italic;
            margin: 0 2rem;
        }

        &--link {
            display: inline-block;
            color: $color-link-blue;
            margin-left: .5rem;
        }

        // &--details
    }

    &__article {
        
        &--img {
            height: 20rem;
            margin: auto;
            margin-bottom: 2rem;
            text-align: center;
        }


        &--caption {
            color: $color-white;
            display: inline-block;
            font-weight: 300;
            font-style: italic;
            margin: 0 2rem;
        }

        &--link {
            display: inline-block;
            color: $color-link-blue;
            margin-left: .5rem;
        }
    }

    &__post, &__article {
        background-color: $color-grey-dark-5;
        text-align: center;
        margin: 2rem;
        width: 50%;
    }
}