.post {
    width: 60%;
    background-color: $color-grey-dark-5;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: .5rem;

    &__img {
        width: 100%;
        margin: 1rem 2rem;
    }

    &__caption {
        padding: 0 2rem 0 0;
        text-align: left;
        font-weight: 300;
        font-style: italic;
    }

    &__link {
        color: $color-link-blue;
    }
}